* {
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(223, 223, 223); */
}

body { background-color: rgb(223, 223, 223);}
/* #root {
  display: flex;
} */

/* main {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3, 1fr);
} */
.title-div {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  line-height: 1.5;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  justify-items: center;
  margin-top: 40px;
}

/* .item1-div {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3, 1fr);
} */
/* .item1-div img{
  height: 300px;
  width: 300px;
} */


.item-images {
  height: 220px;
  width: 220px;
}

.item h3 {
  font-size: 16px;
}

.descript-div {
  height: 200px;
  width: 220px;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: auto;
}
/* 
.descript-div img {
  height: 200px;
  width: 300px;
} */

.descript-div h3 {
  font-size: 12px;
}

.div-flex-contain {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.idh3-div {
  width: 300px;
  height: fit-content;
  line-height: 1.2;
  margin-bottom: 20px;
}

.idh3-div h3 {
  font-size: 16px;
}

.item {
  display: flex;
  gap: 200px;
  z-index: 99;
}

.editModal {

}

.hidden {
  display: none;
}

.item img {
  height: 250px;
  width: 250px;
}

.idh3-btn-div {
   width: fit-content;
   display: flex;
   /* flex-direction: column; */
   gap: 10px;
   width: 80%;
   justify-content: flex-end;
   margin-top: 5%;
   margin-left: 17%;
}

.idh3-btn-div button {
    background: #b4b4b4;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid black;
}

.itemDetail-main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin: auto;
    background-color: white;
    margin-top: 5%;
    padding: 15px;
}

.h3-clickItem-div {
  display: flex;
  flex-direction: column;
  width: 400px;
  line-height: 1.5;
}